# tools settings folders
/**/.*/**/*
!.github/**/*
!.husky/**/*
!.vscode/extensions.json
!.vscode/i18n-ally-reviews.yml
!.vscode/launch.json
!.vscode/settings.json
!.well-known/**/*

# dependencies
node_modules
.pnp
.pnp.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
