@use '@gouvfr/dsfr/module/color/function/_colors' as dsfrColors;

// Unfortunately with the basic theme the composer is taking the opposite colors of what we want...
// So we have to take the same strcuture of colors for composer elements from `mastodon/components.css` and invert colors
@mixin composer($theme: 'dark') {
  $highlight-text-color: dsfrColors.from(
    text default grey,
    hex,
    (
      theme: $theme,
    )
  );
  $ui-primary-color: dsfrColors.from(
    background action-high blue-france,
    hex,
    (
      theme: $theme,
    )
  );
  $simple-background-color: dsfrColors.from(
    background default grey,
    hex,
    (
      theme: $theme,
    )
  );
  $dark-text-color: dsfrColors.from(
    text label grey,
    hex,
    (
      theme: $theme,
    )
  ) !important;
  $ui-secondary-color: dsfrColors.from(
    background alt blue-france,
    hex,
    (
      active: true,
      theme: $theme,
    )
  );
  $secondary-text-color: dsfrColors.from(
    text label grey,
    hex,
    (
      active: true,
      theme: $theme,
    )
  );
  $base-shadow-color: transparent;

  .language-dropdown {
    &__dropdown {
      background: $simple-background-color;

      &__results {
        &__item {
          color: $inverted-text-color;

          &:focus,
          &:active,
          &:hover {
            background: $ui-secondary-color;
          }

          &__common-name {
            color: $darker-text-color;
          }

          &.active {
            background: $ui-highlight-color;
            color: $primary-text-color;

            .language-dropdown__dropdown__results__item__common-name {
              color: $secondary-text-color;
            }

            &:hover {
              background: lighten($ui-highlight-color, 4%);
            }
          }
        }
      }
    }
  }

  .emoji-mart-bar {
    border: 0 solid darken($ui-secondary-color, 8%);

    &:first-child {
      background: $simple-background-color;
    }
  }

  .emoji-mart-category-label {
    span {
      background: $simple-background-color;
    }
  }

  .emoji-mart-scroll {
    background: $simple-background-color;
  }

  .privacy-dropdown.active {
    .privacy-dropdown__value {
      background: dsfrColors.from(
        background alt blue-france,
        hex,
        (
          active: true,
          theme: $theme,
        )
      );
    }
  }

  .compose-form__poll-wrapper {
    .poll__input {
      &:active,
      &:focus,
      &:hover {
        border-color: $ui-primary-color !important;
      }
    }
  }

  .privacy-dropdown__dropdown {
    background: $simple-background-color;
  }

  .emoji-mart-search {
    background: $simple-background-color;

    input {
      background: rgba($ui-secondary-color, 0.3);
      color: $inverted-text-color;
      border: 1px solid $ui-secondary-color;
    }
  }

  .emoji-picker-dropdown__menu {
    background: $simple-background-color;
  }

  .emoji-picker-dropdown__modifiers__menu {
    background: $simple-background-color;
    box-shadow: 1px 2px 6px rgba($base-shadow-color, 0.2);

    button {
      &:hover,
      &:focus,
      &:active {
        background: rgba($ui-secondary-color, 0.4);
      }
    }
  }

  .compose-form {
    &__sensitive-button {
      &.active {
        color: $highlight-text-color;
      }

      input[type='checkbox'] {
        border: 1px solid $ui-primary-color;

        &:checked {
          border-color: $highlight-text-color;
          background: $highlight-text-color
            url("data:image/svg+xml;utf8,<svg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4.5 8.5L8 12l6-6' stroke='white' stroke-width='1.5'/></svg>")
            center center no-repeat;
        }
      }
    }

    .compose-form__warning {
      background: $simple-background-color;
      box-shadow: 0 2px 6px rgba($base-shadow-color, 0.3);
    }

    .autosuggest-textarea__textarea,
    .spoiler-input__input {
      background: $simple-background-color;

      &::placeholder {
        color: $dark-text-color;
      }
    }

    .autosuggest-textarea__suggestions {
      box-shadow: 4px 4px 6px rgba($base-shadow-color, 0.4);
      background: $ui-secondary-color;
    }

    .autosuggest-textarea__suggestions__item {
      &:hover,
      &:focus,
      &:active,
      &.selected {
        background: darken($ui-secondary-color, 10%);
      }
    }

    .compose-form__modifiers {
      background: dsfrColors.from(
        background alt blue-france,
        hex,
        (
          theme: $theme,
        )
      );

      .compose-form__upload {
        &__actions {
          background: linear-gradient(180deg, rgba($base-shadow-color, 0.8) 0, rgba($base-shadow-color, 0.35) 80%, transparent);
        }

        .icon-button {
          color: $secondary-text-color;

          &:hover,
          &:focus,
          &:active {
            color: lighten($secondary-text-color, 7%);
          }
        }

        &__warning {
          background: linear-gradient(0deg, rgba($base-shadow-color, 0.8) 0, rgba($base-shadow-color, 0.35) 80%, transparent);
        }
      }

      .compose-form__upload-thumbnail {
        background-color: $base-shadow-color;
      }
    }

    .compose-form__buttons-wrapper {
      background: dsfrColors.from(
        background alt blue-france,
        hex,
        (
          theme: $theme,
        )
      );
    }
  }
}
