@use '@gouvfr/dsfr/module/color/function/_colors' as dsfrColors;
@use '@gouvfr/dsfr/module/spacing' as dsfrSpacing;
@use '../../../../../../../../packages/dsfr-connect/src/common/workarounds/dsfr-title' as dsfrTitle;

// Below things that differ from the original theme

@mixin input-style($theme: 'dark') {
  // `input-style` is required because the message composer should not have this style
  input:not([type='file']),
  select,
  textarea {
    background: dsfrColors.from(
      background contrast grey,
      hex,
      (
        theme: $theme,
      )
    ) !important;
    color: dsfrColors.from(
      text label grey,
      hex,
      (
        theme: $theme,
      )
    ) !important;
    font-size: 1rem !important;
    border-bottom: solid !important;
    border-width: 2px !important;
    border-radius: 0.25rem 0.25rem 0 0 !important;

    // When a field is valid or with an error we keep the Mastodon logic with only the bottom border
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;

    &::placeholder {
      font-style: italic !important;
    }
  }
}

@mixin diff($theme: 'dark') {
  button,
  a.button,
  a.block-button {
    font-size: 1rem !important;
    border-radius: unset !important;
    text-transform: unset !important;
  }

  .simple-navigation-active-leaf a {
    border-radius: unset !important;
  }

  [contenteditable]:not([contenteditable='false']),
  [tabindex],
  a,
  audio[controls],
  button,
  details,
  details > summary:first-of-type,
  input,
  input[type='button'],
  input[type='checkbox'] + label:before,
  input[type='image'],
  input[type='radio'] + label:before,
  input[type='reset'],
  input[type='submit'],
  select,
  textarea,
  video[controls] {
    &,
    &:focus-visible {
      // TODO: not working, I don't know why it's not propagated...
      outline-color: #0a76f6 !important; // Hardcoded value in the DSFR too
      outline-offset: 2px !important;
      outline-width: 2px !important;
    }
  }

  .search,
  .columns-area__panels__main,
  .content {
    @include input-style($theme);
  }

  h1 {
    font-size: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h1, breakpoints, md)) !important;
    line-height: dsfrSpacing.space(
      map-get(dsfrTitle.$title-styles, dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h1, breakpoints, md)))
    ) !important;
    font-weight: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h1, weight)) !important;
  }

  h2 {
    font-size: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h2, breakpoints, md)) !important;
    line-height: dsfrSpacing.space(
      map-get(dsfrTitle.$title-styles, dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h2, breakpoints, md)))
    ) !important;
    font-weight: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h2, weight)) !important;
  }

  h3 {
    font-size: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h3, breakpoints, md)) !important;
    line-height: dsfrSpacing.space(
      map-get(dsfrTitle.$title-styles, dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h3, breakpoints, md)))
    ) !important;
    font-weight: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h3, weight)) !important;
  }

  h4 {
    font-size: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h4, breakpoints, md)) !important;
    line-height: dsfrSpacing.space(
      map-get(dsfrTitle.$title-styles, dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h4, breakpoints, md)))
    ) !important;
    font-weight: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h4, weight)) !important;
  }

  h5 {
    font-size: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h5, breakpoints, md)) !important;
    line-height: dsfrSpacing.space(
      map-get(dsfrTitle.$title-styles, dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h5, breakpoints, md)))
    ) !important;
    font-weight: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h5, weight)) !important;
  }

  h6 {
    font-size: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h6, breakpoints, md)) !important;
    line-height: dsfrSpacing.space(
      map-get(dsfrTitle.$title-styles, dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h6, breakpoints, md)))
    ) !important;
    font-weight: dsfrSpacing.space(map-get(dsfrTitle.$title-settings, h6, weight)) !important;
  }

  a:not(.button):not(.block-button) {
    text-decoration-thickness: 1px !important;
    text-underline-offset: 3px !important;

    &:hover {
      text-decoration-thickness: 2px !important;
    }
  }

  .dismissable-banner {
    border-radius: unset !important;
  }

  .account__header__tabs__name > h1 > span {
    // This is required because the title was overlapping the `<small>` just after
    display: block;
    padding-bottom: 10px;
  }
}
