// Below things that differ from the original theme

@mixin diff($theme: 'dark') {
  button {
    font-size: 1rem !important;
    border-radius: unset !important;
    text-transform: unset !important;
  }

  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='password'],
  input[type='url'],
  input[type='datetime-local'],
  textarea {
    border-radius: unset !important;
  }

  select {
    border-radius: unset !important;
  }

  .simple-navigation-active-leaf a {
    border-radius: unset !important;
  }
}
