button {
  font-size: 1rem !important;

  .btn {
    text-transform: unset !important;
  }
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='url'],
input[type='datetime-local'],
textarea {
  border-radius: unset !important;
}

select {
  border-radius: unset !important;
}

.simple-navigation-active-leaf a {
  border-radius: unset !important;
}
